<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>注册</title>
    <!-- jq 在线压缩版 -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

    <!-- jq 自己写的前端校验逻辑 -->
    <script src="/static/js/register.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>

    <!-- css 文件引入 -->
    <link rel="stylesheet" href="/static/css/validate.css" >
</head>
<body style="background-color:#F5F5DC">

<!--<div id="nav">-->
<!--    <div id="nav-register">-->
<!--        <ul class="nav nav-pills">-->
<!--            <li role="presentation" class="active"><a href="#">首页</a></li>-->
<!--            <li role="presentation"><a href="/login">登录</a></li>-->
<!--            <li role="presentation"><a href="/register">注册</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
{{template "nav.html" .}}

<div class="htmleaf-container" style="transform: translateY(50%)">
    <div class="wrapper">
        <div class="container" style="background: lightgray">
            <div class="page-header text-center">
                <h1>新管理者注册 <small>sign up</small></h1>
            </div>
            <!--注册表单-->
            <form class="form-horizontal" id="form">
                <div class="form-group">
                    <label for="username" class="col-md-2 col-md-push-2 control-label">用户名</label>
                    <div class="col-md-4 col-md-push-2">
                        <input type="text" class="form-control" name="username" id="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 col-md-push-2 control-label">密码</label>
                    <div class="col-md-4 col-md-push-2">
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rePassword" class="col-md-2 col-md-push-2 control-label">重新输入密码</label>
                    <div class="col-md-4 col-md-push-2">
                        <input type="password" class="form-control" name="rePassword" id="rePassword">
                    </div>
                </div>
                <!--                <div class="form-group">-->
                <!--                    <div class="col-sm-offset-2 col-sm-10">-->
                <!--                        <div class="checkbox">-->
                <!--                            <label>-->
                <!--                                <input type="checkbox"> 记住我-->
                <!--                            </label>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="form-group">
                    <div class="col-md-2 col-md-push-5">
                        <button type="button" class="btn btn-default" id="cancel" onclick="history.back()">返回</button>
                    </div>
                    <div class="col-md-2 col-md-push-4">
                        <button type="submit" class="btn btn-primary" id="button">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>